.navbar {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  
    padding: 50px 0;
    font-size: 24px;
  
    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif;
    color: #be58c79e;
    font-weight: 600;
    text-transform: uppercase;
  .links{
    text-decoration: none;
    color: #be58c79e;

  }
    

  }

 
  